# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
.next/
out/
dist/
build/
*.log
.env
.env*.local
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Misc
*.tmp
